{% extends "base.html" %} {% load static %} {% block page_specific_css %} {% endblock %} {% block body %}
<div class="main-wrapper">
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    <a href="#" class="navbar-brand compressed">
                        <img src="{% static 'img/logo_condensed.png' %}" alt="" data-src="{% static 'img/logo_condensed.png' %}" data-src-retina="{% static 'img/logo2x.png' %}" width="119" height="22" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="tour">Offerings</a></li>
                        <li><a href="portfolio">Blog</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="section grey text-center m-t-60 p-t-40 p-b-40" id="banner-footer">
        <h2 class="normal m-b-10">
            We would love to hear from you</h2>
        <p>
            Why not drop us a line or pick up the phone and give us a shout. Our team would love to talk to you and find ways of Making Business Easy.</p>
    </div>
    <div class="section white">
        <div class="container">
            <div class=" p-b-60">
                <div class="row p-t-30">
                    <div class="col-md-6 col-sm-6">
                        <form id="contact_form" method="post" action="#">
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <input name="txtFirstName" id="textFirstName" type="text" class="form-control " placeholder="First Name">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <input name="txtLastName" id="txtLastName" type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <input name="txtCompany" id="txtCompany" type="text" class="form-control" placeholder="Company/Orgarnization">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <input name="txtEmailAddress" id="txtEmailAddress" type="text" class="form-control" placeholder="Email address">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <textarea id="txtDesc" name="txtMessage" type="text" class="form-control" placeholder="Message" rows="8">
						
						</textarea>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-10">
                                    <button type="button" id="button-send" class="btn btn-primary btn-cons">
                                        Send</button>
                                </div>
                                <div id="success">Your message has been successfully!</div>
                                <div id="error">Unable to send your message, please try later.</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 feature-list">
                        <h4 class="title custom-font text-black no-margin p-b-10">
                            TELEPHONE</h4>
                        <p class="no-margin">
                            Sales</p>
                        <h2 class="custom-font text-black no-margin">
                            (91) 8919493561 </h2>
                        <p class="no-margin">
                            Technical</p>
                        <h2 class="custom-font text-black no-margin">
                            (91) 8919493561</h2>
                        <section class="p-t-20 p-b-20">
                            <h4 class="title custom-font text-black">
                                ADDRESS</h4>
                            <ul class="address-list">
                                <li><i class="fa fa-map-marker"></i><strong>Address:</strong> Gacchibowli, Hyderabad, India</li>
                                <li><i class="fa fa-phone"></i><strong>Phone:</strong> (91) 9916091564</li>
                                <li><i class="fa fa-envelope"></i><strong>Email:</strong> <a href="mailto:hello@voyanalytics.com">
                                    hello@voyanalytics.com</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% block page_specific_js %}
<!-- END JS PLUGIN -->
{% endblock %} {% endblock %}