{% load static %}
<div class="section black contact-details green-icons">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="services-box-3">
                    <i class="fa fa-phone"></i>
                    <div class="content">
                        <p>
                            Phone</p>
                        <h3>
                            +1 555 666 9999</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="services-box-3">
                    <i class="fa fa-envelope"></i>
                    <div class="content">
                        <p>
                            E-mail</p>
                        <h3>
                            letstalk@thempleite.com</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="services-box-3">
                    <i class="fa fa-map-marker "></i>
                    <div class="content">
                        <p>
                            Postal</p>
                        <h3>
                            32-Grey Suite, NY</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="services-box-3">
                    <i class="fa fa-pinterest-square"></i>
                    <div class="content">
                        <p>
                            Pinterest</p>
                        <h3>
                            pinterest.com/frittt</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section white footer">
    <div class="container">
        <div class="p-t-30 p-b-50">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 xs-m-b-20">
                    <img src="{% static 'img/logo_condensed.png' %}" alt="" data-src="{% static 'img/logo_condensed.png' %}" data-src-retina="{% static 'img/logo2x.png' %}" width="119" height="22" />
                    <br />
                    <br /> © DataTech Technologies
                    <br /> All Rights Reserved.
                </div>
                <div class="col-md-4 col-lg-3 col-sm-4  col-xs-12 xs-m-b-20">
                    <address class="xs-no-padding  col-md-6 col-lg-6 col-sm-6  col-xs-12">
                                Gacchibowli<br>
                                Nanakramguda,<br>
                                Hyderabad, India.
                            </address>
                    <div class="xs-no-padding col-md-6 col-lg-6 col-sm-6">
                        <div>
                            (91) 9916091564</div>
                        <a href="javascript:">goyal.ankit.049@gmail.com</a>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
                    <div class="bold">
                        We Are Hiring</div>
                    Send you resume at <a href="javascript:">goyal.ankit.049@gmail.com</a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
                    <div class="bold">
                        FOLLOW US</div>
                    <br />
                    <a href="javascript:"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
                    <a href="javascript:">
                        <i class="fa fa-twitter fa-2x"></i></a>&nbsp; <a href="javascript:"><i class="fa fa-youtube-play  fa-2x">
                                </i></a>&nbsp; <a href="javascript:"><i class="fa fa-github fa-2x"></i></a>&nbsp;
                    <a href="javascript:"><i class="fa fa-dribbble fa-2x"></i></a>&nbsp;
                    <a href="javascript:">
                        <i class="fa fa-pinterest fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>