{% extends "base.html" %} {% load static %} {% block body %}
<div class="main-wrapper">
    <header id="ha-header" class="ha-header ha-header-hide ">
        <div class="ha-header-perspective">
            <div class="ha-header-front navbar navbar-default">
                <div class="compressed">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                        <a href="#" class="navbar-brand compressed">
                            <img src="{% static 'img/logo_condensed.png' %}" alt="" data-src="(% 'img/logo_condensed.png' %}" data-src-retina="assets/img/logo2x.png" width="119" height="22" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="tour">Offerings</a></li>
                            <li><a href="portfolio">Portfolio</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>
    <div class="section ha-waypoint" data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
        <div role="navigation" class="navbar navbar-transparent navbar-top">
            <div class="container">
                <div class="compressed">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                        <a href="#" class="navbar-brand">
                            <img src="{% static 'img/logo.png' %}" data-src="{% static 'img/logo.png' %}" data-src-retina="{% static 'img/logo_2x.png' %}" width="119" height="22" alt="" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="tour">Offerings</a></li>
                            <!-- <li><a href="pricing">Pricing</a></li> -->
                            <li><a href="portfolio">Portfolio</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--BEGIN SLIDER -->
        <div class="tp-banner-container">
            <div class="tp-banner" id="home">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/bg/slide_one.jpg' %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider" data-x="center" data-hoffset="0" data-y="80" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off"
                            style="z-index: 6">
                            <h2 class="text-white custom-font title ">
                                We Create Business Strategies <br>for Customers</h2>
                        </div>
                        <div class="tp-caption sfb slider tp-resizeme slider" data-x="center" data-hoffset="0" data-y="320" data-speed="800" data-start="1000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <a href="/tour" class="btn btn-info btn-lg  btn-large m-r-10">Our Services</a>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/bg/picture-1.jpg' %}" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider" data-x="center" data-hoffset="0" data-y="120" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off"
                            style="z-index: 6">
                            <h2 class="text-white custom-font title ">
                                We Craft<br> Our Work to Last Perfection!</h2>
                        </div>
                        <div class="tp-caption sfb slider tp-resizeme slider" data-x="center" data-hoffset="0" data-y="300" data-speed="800" data-start="1000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <a href="#" class="btn btn-info btn-lg  btn-large m-r-10">Our Services</a>
                        </div>
                        <!-- <div class="tp-caption fade slider tp-resizeme slider" data-x="center" data-hoffset="0" data-y="360" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <a href="#" class="text-white m-r-10">or view our pricing</a>
                        </div> -->
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/bg/picture-2.jpg' %}" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider" data-x="center" data-hoffset="0" data-y="120" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off"
                            style="z-index: 6">
                            <h2 class="text-white custom-font title ">
                                We Build the Trust<br> That Our Clients Needs</h2>
                        </div>
                        <div class="tp-caption sfb slider tp-resizeme slider" data-x="center" data-hoffset="0" data-y="300" data-speed="800" data-start="1000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <a href="#" class="btn btn-info btn-lg  btn-large m-r-10">Our Services</a>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer">
                </div>
            </div>
        </div>
        <!--END SLIDER-->
    </div>
    <div class="section ">
        <div class="container">
            <div class="p-t-40 p-b-40  text-center">
                <h2 class="text-center">
                    We Provide Awesome Data Science Solutions With a Great Attention to Details.</h2>
                <!-- <a href="#" class="btn btn-primary btn-lg  btn-large m-r-10">DOWNLOAD NOW</a> -->
            </div>
        </div>
    </div>
    <div class="section white ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-hide">
        <div class="container">
            <div class="p-t-60">
                <div class="row">
                    <div class="col-md-12 feature-list ">
                        <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
                            <i class="fa fa-archive fa-4x"></i>
                            <h4 class="title">
                                CHURN PREDICTION</h4>
                            <p>
                                Our Unique Approach Not Only Helps Predict Customers Which are most Likely to Churn, But Also Suggests Preventive Actions
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                            <i class="fa fa-cog fa-4x"></i>
                            <h4 class="title">
                                DATA DISCOVERY</h4>
                            <p>
                                Our Data discovery Service helps you in Identifying Pain points of Business, Model building and Stroytelling based on Insights Discovered
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                            <i class="fa fa-share fa-4x"></i>
                            <h4 class="title">
                                CUSTOMER HEALTH ASSESSMENT</h4>
                            <p>
                                Data driven assessment of your health measuring mechanism. We’ll identify the efficiency of your measures in correlation with final outcome and also suggest additional measures to track, monitor in order to improve your current account health tracker
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 feature-list">
                        <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
                            <i class="fa fa-code fa-4x"></i>
                            <h4 class="title">
                                FORECASTING</h4>
                            <p>
                                We work to deliver results, celebrate entrepreneurship, stand for justice, and believe in the progress of common good.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
                            <i class="fa fa-asterisk fa-4x"></i>
                            <h4 class="title">
                                TEXT SUMMARIZATION</h4>
                            <p>
                                This free template is based on the popular Twitter Bootstrap Frameowrk. You can easily customize if you have little Bootstrap 3 knowledge.
                            </p>
                        </div>
                        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
                            <i class="fa fa-expand  fa-4x"></i>
                            <h4 class="title">
                                DATA MATURITY EVALUATION</h4>
                            <p>
                                Feasibility check of your current data & its comprehensive exploration. Suggestion on sources those are impactful like Deployment, Customer Engagement, Adoption, Support Experience, Overall sentiment and providing metrics tracked, Gap & suggestions
                            </p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="section relative">
                    <div class="row text-center">
                        <img src="{% static 'img/browser-shot.png' %}" alt="" class="resize p-t-60 col-md-12 hidden-xs" data-ride="animated" data-animation="fadeInUp" data-delay="300">
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="p-t-60 p-b-50 ">
                <div class="row feature-list">
                    <div class="col-md-3 ">
                        <h4 class="custom-font title">
                            COFFEES</h4>
                        <h1 class="custom-font">
                            <span class="number-animator" data-value="40" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius ">
                                <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">
                            WEB APPS</h4>
                        <h1 class="custom-font">
                            <span class="number-animator" data-value="4" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">
                            LINE OF CODES</h4>
                        <h1 class="custom-font">
                            <span class="number-animator" data-value="40,000" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="custom-font title">
                            PROJECTS COMPLETED</h4>
                        <h1 class="custom-font">
                            <span class="number-animator" data-value="7" data-animation-duration="800">0</span></h1>
                        <div class="col-md-8 no-padding">
                            <div class="progress transparent progress-small no-radius no-margin">
                                <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey">
        <div class="container">
            <div class="p-t-60 p-b-50">
                <div id="testomonials" class="owl-carousel row">
                    <div class="item">
                        <div class="col-md-6  col-md-offset-3 text-center">
                            <div class="testimonial-thumb">
                                <img src="{% static 'img/testimonial_img1.png' %}" alt="testimonal">
                            </div>
                            <div class="testimonial-user">
                                <span>Abhilash</span> Zen Education
                            </div>
                            <h3 class="normal text-center">
                                I have always received good service from VoyAnalytics. Timing and quality have always met my expectations and everything is communicated in a professional and timely manner.
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6   col-md-offset-3 text-center">
                            <div class="testimonial-thumb">
                                <img src="{% static 'img/testimonial_img2.png' %}" alt="testimonal">
                            </div>
                            <div class="testimonial-user">
                                <span>Amit Tyagi</span>
                            </div>
                            <h3 class="normal text-center">
                                We consider the VoyAnalytics team a development partner who has proven to be creative in problem resolution, reliable in time commitments, and overall consistent in meeting our expectations.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}