{% extends "base.html" %} {% load static %} {% block page_specific_css %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/onescroll/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/onescroll/css/component.css' %}" /> {% endblock %} {% block body %}
<div class="main-wrapper">
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="compressed">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    <a href="#" class="navbar-brand compressed">
                        <img src="{% static 'img/logo_condensed.png' %}" alt="" data-src="{% static 'img/logo_condensed.png' %}" data-src-retina="{% static 'img/logo2x.png' %}" width="119" height="22" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="tour">Offerings</a></li>
                        <!-- <li><a href="pricing">Pricing</a></li> -->
                        <li><a href="portfolio">Portfolio</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="section grey text-center m-t-60 p-t-40 p-b-40" id="banner-footer">
        <h2 class="normal m-b-10">We are a Data Science As a Service agency with smart thinking & smart work!</h2>
        <button type="button" class="btn btn-info btn-cons m-t-10">
                Learn More</button>
    </div>
    <div id="cbp-so-scroller" class="cbp-so-scroller section white ha-waypoint green-icons" data-animate-down="ha-header-color" data-animate-up="ha-header-hide">
        <section class="cbp-so-section">
            <figure class="cbp-so-side cbp-so-side-left">
                <img src="{% static 'img/churn.png' %}" alt="img01">
            </figure>
            <article class="cbp-so-side cbp-so-side-right text-center middle">
                <div class="row">
                    <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                        <i class="fa fa-arrows-alt fa-4x"></i>
                        <h1 class="m-b-20">
                            <span class="semi-bold">Churn</span></h1>
                        <p>
                            We help Businesses take Proactive Retention Action on Churning Customers.
                        </p>
                        <a href="churn" class="bold">Learn More</a>
                    </div>
                </div>
            </article>
        </section>
        <section class="cbp-so-section">
            <article class="cbp-so-side cbp-so-side-left text-center middle">
                <div class="row">
                    <div class="col-md-12 p-t-80 col-vlg-8 col-vlg-offset-2">
                        <i class="fa fa-arrows-alt fa-4x"></i>
                        <h1 class="m-b-20">
                            <span class="semi-bold">Data Discovery</span></h1>
                        <p>
                                Data discovery is very true to the meaning where we perform exploration or a quest on the data to find the truth, trend or correlations.
                        </p>
                        <a href="data-discovery" class="bold">Learn More</a>
                    </div>
                </div>
            </article>
            <figure class="cbp-so-side cbp-so-side-right">
                <img src="{% static 'img/data-discovery.jpg' %}" alt="img01" style="height:599px;width:806px;">
            </figure>
        </section>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}